@import "./helpers/variables";
@import "./helpers/classes";

@import "./layout/home";
@import "./layout/about";
@import "./layout/shop";
@import "./layout/contact";

:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    margin: 0;
    height: 5000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}