@import "./helpers/variables";
@import "./helpers/classes";

@import "./layout/home";
@import "./layout/about";
@import "./layout/shop";
@import "./layout/contact";

:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }
}