doctype html
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='canonical' href='https://htmlcheatsheet.com/')
meta(name='description' content='This is a web store about all the fashion designs about the styles of wearing clothes for men and women')
meta(name='keywords' content='Zay, clothing, men and women wear, men clothing')
meta(property='fb:admins' content='samir ali')
meta(property='og:title' content='Zay')
meta(property='og:type' content='website')
meta(property='og:url' content='https://samir-ali-10.github.io/zay/public')
meta(property='og:image' content='https://cdn.dribbble.com/users/4662105/screenshots/15436672/media/c4e7e6776fe6f02d8db5fa07b672df4d.jpg')
meta(property='og:description' content='This is a web store about all the fashion designs about the styles of wearing clothes for men and women')
meta(name="What's App:card" content='Zay')
meta(property="What's App:domain" content='samir-ali-10.github.io')
meta(property="What's App:url" content='https://samir-ali-10.github.io/zay/public')
meta(name="What's App:title" content='Zay')
meta(name="What's App:description" content='This is a web store about all the fashion designs about the styles of wearing clothes for men and women')
meta(name="What's App:image" content='https://cdn.dribbble.com/users/4662105/screenshots/15436672/media/c4e7e6776fe6f02d8db5fa07b672df4d.jpg')
meta(name='linkedin:card' content='clothing')
meta(name='linkedin:title' content='Zay')
meta(name='linkedin:description' content='This is a web store about all the fashion designs about the styles of wearing clothes for men and women')
meta(name='linkedin:site' content='samir ali')
meta(name='linkedin:image' content='https://cdn.dribbble.com/users/4662105/screenshots/15436672/media/c4e7e6776fe6f02d8db5fa07b672df4d.jpg')
meta(name='linkedin:creator' content='samir ali')
meta(name='facebook:card' content='clothing')
meta(name='facebook:title' content='Zay')
meta(name='facebook:description' content='This is a web store about all the fashion designs about the styles of wearing clothes for men and women')
meta(name='facebook:site' content='samir ali')
meta(name='facebook:image' content='https://cdn.dribbble.com/users/4662105/screenshots/15436672/media/c4e7e6776fe6f02d8db5fa07b672df4d.jpg')
meta(name='facebook:creator' content='samir ali')
link(rel='apple-touch-icon' href='img/apple-icon.png')
link(rel='alternate' hreflang='es' href='https://htmlcheatsheet.com/spanish/')
meta(name='author' content='Samir Ali')
link(rel='icon' href='img/apple-icon.png')
link(rel="stylesheet" href="css/all.min.css")
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel="stylesheet" href="css/style.css")
title Zay
