doctype html
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='canonical' href='https://htmlcheatsheet.com/')
meta(name='description' content='this is a website about food where u can reserve your table online without waiting inline')
meta(name='keywords' content='food, burger, food hut, online food')
meta(property='fb:admins' content='samir ali')
meta(property='og:title' content='Food Hut')
meta(property='og:type' content='website')
meta(property='og:url' content='https://samir-ali-10.github.io/food-hut/')
meta(property='og:image' content='https://www.google.com/url?sa=i&url=https%3A%2F%2Fnatashaskitchen.com%2Fperfect-burger-recipe%2F&psig=AOvVaw3R02oPYS_XlkBjnU64h8MS&ust=1679836122759000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOCYkq2T9_0CFQAAAAAdAAAAABAE')
meta(property='og:description' content='this is a website about food where u can reserve your table online without waiting inline')
meta(name="What's App:card" content='Food Hut')
meta(property="What's App:domain" content='samir-ali-10.github.io')
meta(property="What's App:url" content='https://samir-ali-10.github.io/food-hut/')
meta(name="What's App:title" content='Food Hut')
meta(name="What's App:description" content='this is a website about food where u can reserve your table online without waiting inline')
meta(name="What's App:image" content='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bbcgoodfood.com%2Frecipes%2Fcollection%2Fburger-recipes&psig=AOvVaw3LLufLWtfPG6_0feOeOz0v&ust=1679941060072000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIDMwKOa-v0CFQAAAAAdAAAAABAQ')
meta(name='linkedin:card' content='food')
meta(name='linkedin:title' content='food hut')
meta(name='linkedin:description' content='this is a website about food where u can reserve your table online without waiting inline')
meta(name='linkedin:site' content='samir ali')
meta(name='linkedin:image' content='https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fburger&psig=AOvVaw0NM7MxPRBeek9htktUEeVC&ust=1679576888369000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLDkztPN7_0CFQAAAAAdAAAAABA3')
meta(name='linkedin:creator' content='samir ali')
meta(name='facebook:card' content='food')
meta(name='facebook:title' content='food hut')
meta(name='facebook:description' content='this is a website about food where u can reserve your table online without waiting inline')
meta(name='facebook:site' content='samir ali')
meta(name='facebook:image' content='https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fburger&psig=AOvVaw0NM7MxPRBeek9htktUEeVC&ust=1679576888369000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLDkztPN7_0CFQAAAAAdAAAAABA3')
meta(name='facebook:creator' content='samir ali')
link(rel='apple-touch-icon' href='./imgs/logo.svg')
link(rel='alternate' hreflang='es' href='https://htmlcheatsheet.com/spanish/')
meta(name='author' content='Samir Ali')
link(rel='icon' href='img/apple-icon.png')
link(rel="stylesheet" href="css/all.min.css")
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel="stylesheet" href="css/style.css")
title Zay
