        .information.special_bg.pt-5.pb-5
            .container 
                .data
                    .infos 
                        .heading 
                            h2.secondary_color.text-capitalize zay shop 
                        .links 
                            a(href="#")
                                i.fa-solid.fa-location-dot
                                | 123 NEWYORK Street, 32 Avenue
                            a(href="#")
                                i.fa-solid.fa-phone
                                | 010-012-2344
                            a(href="#") 
                                i.fa-solid.fa-envelope
                                | info@company.com
                    .infos 
                        .heading
                            h3.text-capitalize products
                        ul
                            li luxury
                            li sports wear
                            li men's shoes
                            li women's shoes
                            li popular dress
                            li gym accessories
                            li sport shoes
                    .infos 
                        .heading 
                            h3.text-capitalize further info
                        ul
                            li home
                            li about us
                            li shop locations
                            li FAQs
                            li contact
                .contacts.pt-4.pb-4.d-flex.justify-content-between.align-items.center 
                    .socials.d-flex
                        a(href="#")
                            i.fa-brands.fa-facebook-f
                        a(href="#")
                            i.fa-brands.fa-instagram
                        a(href="#")
                            i.fa-brands.fa-twitter
                        a(href="#")
                            i.fa-brands.fa-linkedin
                    .subscribe 
                        form(action="#") 
                            input#email(type="email", name="email", placeholder="Email Address")
                            input#sub(type="submit", value="Subscribe")
        footer.pt-4.pb-4
            .container 
                p.text-capitalize
                    | copyright &#169; 2021 company name | designed by
                    span  samir