html 
    head 
        include pug/headTags
    body 
        include pug/layout/nav

        .contact_wrapper.pt-5.text-center.special_color
            .container
                .special_heading 
                    h2 contact us
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vitae placeat praesentium eos aut beatae!
            .map 
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.9866305049336!2d31.292136675248486!3d30.008540274941748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145838cf9eee5111%3A0x4900db30cdb22b62!2sAl-Ahram%20St%2C%20Al%20Abageyah%2C%20El%20Mokattam%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1683983456959!5m2!1sen!2seg' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')

        .talk 
            .container 
                form(action="#")
                    .required 
                        .name 
                            label(for="name") Name 
                            input#name(type="text", name="name", placeholder="Name")
                        .email 
                            label(for="email") Email 
                            input#email(type="email", name="email", placeholder="Email")
                    .subject 
                        label(for="subject") Subject 
                        input#subject(type="text", name="subject", placeholder="Subject")
                    .message 
                        label(for="message") Message 
                        textarea#message(name="message", cols="30", rows="10", placeholder="Message") 
                    .submit 
                        input(type="submit", value="Let's Talk")

        .information.special_bg.pt-5.pb-5
            .container 
                .data
                    .infos 
                        .heading 
                            h2.secondary_color.text-capitalize zay shop 
                        .links 
                            a(href="#")
                                i.fa-solid.fa-location-dot
                                | 123 NEWYORK Street, 32 Avenue
                            a(href="#")
                                i.fa-solid.fa-phone
                                | 010-012-2344
                            a(href="#") 
                                i.fa-solid.fa-envelope
                                | info@company.com
                    .infos 
                        .heading
                            h3.text-capitalize products
                        ul
                            li luxury
                            li sports wear
                            li men's shoes
                            li women's shoes
                            li popular dress
                            li gym accessories
                            li sport shoes
                    .infos 
                        .heading 
                            h3.text-capitalize further info
                        ul
                            li home
                            li about us
                            li shop locations
                            li FAQs
                            li contact
                .contacts.pt-4.pb-4.d-flex.justify-content-between.align-items.center 
                    .socials.d-flex
                        a(href="#")
                            i.fa-brands.fa-facebook-f
                        a(href="#")
                            i.fa-brands.fa-instagram
                        a(href="#")
                            i.fa-brands.fa-twitter
                        a(href="#")
                            i.fa-brands.fa-linkedin
                    .subscribe 
                        form(action="#") 
                            input#email(type="email", name="email", placeholder="Email Address")
                            input#sub(type="submit", value="Subscribe")
        footer.pt-4.pb-4
            .container 
                p.text-capitalize
                    | copyright &#169; 2021 company name | designed by
                    span  samir
        button#myBtn(onclick='topFunction()' title='Go to top') 
            i.fa-solid.fa-angle-up


        script(src="js/bootstrap.bundle.min.js") 
        script(src="js/main.js")