html 
    head 
        include pug/headTags
    body 
        .heading.special_bg.p-2
            .container.d-flex.justify-content-between.align-items-center
                .infos
                    a(href='#')
                        i.fa-solid.fa-envelope.pe-2
                        |     info@company.com
                    a(href="#").ms-5
                        i.fa-solid.fa-phone.pe-2
                        | 010-203-3493
                .socials
                    a(href="#")
                        i.fa-brands.fa-facebook-f
                    a(href="#")
                        i.fa-brands.fa-instagram
                    a(href="#")
                        i.fa-brands.fa-twitter
                    a(href="#")
                        i.fa-brands.fa-linkedin

        // Landing Page //
        .landing.pt-3.pb-3
            .container 
                nav.d-flex.justify-content-between.align-items-center
                    h2.secondary_color Zay 
                    .navigation 
                        i.fa-solid.fa-bars.menu
                        ul.d-flex.justify-content-between
                            li
                                a(href="#") home
                            li
                                a(href="#") about
                            li
                                a(href="#") shop
                            li
                                a(href="#") contact
                    .profile.d-flex.justify-content-end
                        a(href="#")
                            i.fa-solid.fa-magnifying-glass
                        a(href="#").ms-4
                            i.fa-solid.fa-cart-arrow-down
                        a(href="#").ms-4
                            i.fa-solid.fa-user


        script(src="js/main.js") 
